In [89]:
import pandas as pd
import seaborn as sns
import sys
import os

# add parent directory to sys.path
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
sys.path.append(parent_dir)

from lib.functions import *

In [90]:
df = pd.read_csv("../data/diabetes_prediction_dataset.csv")

### Data Cleaning

In [91]:
# drop rows
df=df.loc[df['smoking_history'] != 'No Info']
df=df.loc[df['gender'] != 'Other']

# aggregate values
df['smoking_history'].loc[df["smoking_history"] == 'not current'] = 'former'

### Feature Engineering

In [92]:
# transform categorical columns to numerical
df["smoking_history"] = df["smoking_history"].map({'never': 0, 'former': 1, 'current': 2, 'ever': 3})
df["gender"] = df["gender"].map({'Female': 0, 'Male': 1})

In [93]:
df.head(3)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
2,1,28.0,0,0,0,27.32,5.7,158,0
3,0,36.0,0,0,2,23.45,5.0,155,0

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64172 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               64172 non-null  int64
 1   age                  64172 non-null  float64
 2   hypertension         64172 non-null  int64
 3   heart_disease        64172 non-null  int64
 4   smoking_history      64172 non-null  int64
 5   bmi                  64172 non-null  float64
 6   HbA1c_level          64172 non-null  float64
 7   blood_glucose_level  64172 non-null  int64
 8   diabetes             64172 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 4.9 MB